@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin list-style {
  a {
    &.active {
      color: $accent-light !important;
    }

    transition: all 0.4s ease;
    color: $white;

    &:hover {
      color: $accent;
    }
  }
}

@mixin form-control() {
  border: 1px solid $dark-border;
  border-radius: 12px;
  padding: 8px 12px;
  background-color: $grey;
  color: $accent;
}

$accent: #008080;
$accent-light: #00dada;
$dark: #0d0d0d;
$dark-light: #313131;
$purple: #7300ff;
$dark-blue: #000625;
$white: #f7f7f7;
$grey: #f3f3f3;
$dark-grey: #2f2f2f;
$dark-border: #0000002d;

$card-shadow: rgba(0, 0, 0, 0.1);
$button-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);

@import "templates/general.scss";
@import "templates/loader.scss";
@import "templates/header.scss";
@import "templates/cart.scss";
@import "templates/hero.scss";
@import "templates/features.scss";
@import "templates/products.scss";
@import "templates/about.scss";
@import "templates/auth.scss";
@import "templates/synopsis.scss";
@import "templates/gallery.scss";
@import "templates/faqs.scss";
@import "templates/contact.scss";
@import "templates/map.scss";
@import "templates/check-out.scss";
@import "templates/footer.scss";
@import "templates/chatbot.scss";
@import "templates/scroll-top.scss";