.auth {
    &__form {
        min-height: 500px;
        @include flex-column();
        justify-content: center;
    }

    &.sign-in {
        &__link {
            color: $accent;
            font-weight: 700;
        }
    }

    &.sign-up {
        &__link {
            color: $accent;
            font-weight: 700;
        }
    }
}