.cart {
    &__modal {
        .modal-content {
            background-color: $grey;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 24px
    }

    .items {
        &-list {
            @include flex-column();
            row-gap: 8px;
            color: $dark;
        }

        &-data {
            @include flex-row();
            justify-content: space-between;
            align-items: center;
        }

        &-total-price {
            font-weight: 600;
            color: $dark;
        }

        &-group {
            @include flex-row();
            justify-content: center;
            align-items: center;
            column-gap: 20px;
        }
    }
}