.cart {
    &__modal {
        z-index: 99999 !important;

        .modal-content {
            background-color: $grey;
        }
    }

    .amount-input {
        text-align: center;
    }

    &__title {
        font-weight: 700;
        font-size: 24px
    }

    &__group {
        @include flex-column();
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 10px;
        max-width: 100% !important;
    }

    &__item {
        @include flex-row();
        justify-content: space-between;
        align-items: start;

        &-picture {
            margin: 0;
            max-width: 80px;
        }

        &-title {
            font-size: 14px;
            color: $dark;
            text-align: center;
        }

        &-controls {
            @include flex-row();
            justify-content: center;
            align-items: center;

            input {
                width: 60px !important;
                color: $dark;
            }
        }

        &-price {
            align-self: flex-end;
            text-align: center;
            font-weight: 600;
            color: $dark;
        }
    }

    .items {
        &-list {
            @include flex-column();
            row-gap: 20px;
            color: $dark;
        }

        &-data {
            @include flex-row();
            justify-content: space-between;
            align-items: center;
        }

        &-total-price {
            font-weight: 600;
            color: $dark;
        }

        &-group {
            @include flex-row();
            justify-content: center;
            align-items: center;
            column-gap: 20px;
        }
    }
}