.features {
    padding: 80px 0;
    background-color: $grey;

    &__item {
        margin-bottom: 40px;
        @include flex-column();
        justify-content: center;
        align-items: center;
    }

    &__icon {
        i {
            font-size: 48px;
            margin-bottom: 20px;
            color: $accent;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
        color: $dark;
    }

    &__description {
        font-size: 16px;
        color: $dark-light;
    }
}