.gallery {
    margin-top: 140px;

    .carousel {
        max-width: 60%;
        display: block;
        margin: 0 auto;

        &-image {
            filter: brightness(70%);
        }

        &-caption {

            h5,
            p {
                color: $grey;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .carousel {
        max-width: 100% !important;
    }
}