@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    &.loaded .loader {
        display: none;
    }

    &.lock {
        overflow: hidden;
    }
}

.wrapper {
    overflow: hidden;
    @include flex-column();
    min-height: 100vh;
}

h2,
h3 {
    font-weight: 700;
}

h2 {
    font-weight: 800;
    font-size: 36px;
}

p {
    color: $dark-light;
}

img {
    display: block;
    width: 56% !important;
    margin: 0 auto;
    border-radius: 4px;
    object-fit: cover;
}

.main {
    flex: 1;
    @include flex-column();
    // align-items: center;
    justify-content: center;
}

.btn {
    transition: all 0.5s ease;
    padding: 12px 32px;
    border-radius: 12px;

    &-primary {
        background-color: $accent;
        border: 1px solid $accent;

        &:hover,
        &:focus {
            color: $white;
            background-color: $accent;
            box-shadow: $button-shadow;
            transform: translateY(-4px);
            border: 1px solid $accent;
        }
    }

    &-outline-primary {
        color: $accent;
        border: 1px solid $accent;

        &:hover,
        &:focus {
            color: $white;
            border: 1px solid $accent;
            background-color: $accent;
            transform: translateY(-4px);
            box-shadow: $button-shadow;
        }
    }
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 6px $card-shadow;
    transition: all 0.5s ease-in;

    &:hover {
        transform: translateY(-5px);
        // box-shadow: 0 8px 12px $card-shadow;
    }

    &-body {
        padding: 1.5rem;
    }

    &-title {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }
}

input.form-control {
    @include form-control();
    transition: all 0.4s ease-out;

    &:focus {
        border-color: transparent !important;
        outline: 0;
        box-shadow: 0 0 0 0.2rem $accent-light;
    }
}

textarea.form-control {
    @include form-control();
    transition: all 0.4s ease-out;

    &:focus {
        border-color: transparent !important;
        outline: 0;
        box-shadow: 0 0 0 0.2rem $accent-light;
    }
}

.text-content {
    display: block;
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
}

@media screen and (max-width: 750px) {
    .text-content {
        max-width: 100%;
    }
}

@media screen and (max-width: 580px) {
    .btn {
        padding: 6px 20px;
    }
}