.synopsis {
    margin-top: 120px;

    &__card {
        text-align: center;

        i {
            font-size: 52px;
            color: $accent;
        }
    }

    &__list {
        list-style: none;
        padding-left: 0;
    }
}