//General - Start
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin list-style {
  &.active {
    a {
      color: $accent-light !important;
    }
  }
  a {
    transition: all 0.4s ease;
    color: $white;
    &:hover {
      color: $accent;
    }
  }
}

$accent: #008080;
$accent-light: #00dada;
$dark: #0d0d0d;
$dark-light: #313131;
$white: #f7f7f7;
$grey: #f3f3f3;
$dark-border: #0000002d;
$card-shadow: rgba(0, 0, 0, 0.1);

$button-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);

// * {
//   transition: all 0.7s ease;
// }

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  &.loaded .loader {
    display: none;
  }
}

.wrapper {
  overflow: hidden;
  @include flex-column();
  min-height: 100vh;
}

h2,
h3 {
  font-weight: 700;
}

h2 {
  font-weight: 800;
  font-size: 36px;
}

p {
  color: $dark-light;
}

.main {
  flex: 1;
  @include flex-column();
  align-items: center;
  justify-content: center;
}

.btn {
  transition: all 0.5s ease;
  padding: 12px 32px;
  border-radius: 12px;

  &-primary {
    background-color: $accent;
    border: 1px solid $accent;

    &:hover {
      color: $white;
      background-color: $accent;
      box-shadow: $button-shadow;
      transform: translateY(-4px);
      border: 1px solid $accent;
    }
  }
  &-outline-primary {
    color: $accent;
    border: 1px solid $accent;
    &:hover {
      color: $white;
      border: 1px solid $accent;
      background-color: $accent;
      transform: translateY(-4px);
      box-shadow: $button-shadow;
    }
  }
}

.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 6px $card-shadow;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px $card-shadow;
  }

  &-body {
    padding: 1.5rem;
  }

  &-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
}

.text-content {
  display: block;
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}
//General - End
//Loader - Start
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    border: 16px solid $white;
    border-top: 16px solid $accent;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
//Loader - End
//Header - Start
.header {
  &__wrap {
    @include flex-row();
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__logo {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
  }
  &__menu {
    @include flex-row();
    justify-content: center;
    align-items: center;
    column-gap: 20px;

    &__list {
      &-item {
        @include list-style();
      }
    }

    .profile {
      &__img {
        width: 32px;
        height: 32px;
        fill: $white;
        transition: all 0.4s ease;

        &:hover {
          fill: $accent !important;
        }
      }
    }
  }
  &__cart {
    position: relative;
    width: 40px !important;
    height: 100px;

    &:hover .header__cart__list {
      display: block;
      height: auto !important;
    }

    .shopping-cart {
      cursor: pointer;
      width: 100%;
      height: 100%;
      fill: $white;
      transition: all 0.4s ease;

      &:hover {
        fill: $accent !important;
      }
    }

    &__list {
      display: none;
      position: absolute;
      top: 100%;
      right: -240%;
      list-style: none;
      padding: 10px;
      background-color: $white;
      border: 1px solid $dark-border;
      border-radius: 16px;
      z-index: 100;
      min-width: 300px;
      height: 0;

      .items {
        &-list {
          @include flex-column();
          row-gap: 8px;
          color: $dark;
        }
        &-data {
          @include flex-row();
          justify-content: space-between;
          align-items: center;
        }
        &-total-price {
          font-weight: 600;
          color: $dark;
        }
      }
      &-item {
        @include flex-row();
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        // width: 100%;

        &__picture {
          max-width: 64px;
        }
        &__title {
          font-size: 14px;
          color: $dark;
          text-align: center;
        }
        &__controls {
          @include flex-row();
          justify-content: center;
          align-items: center;

          input {
            width: 60px !important;
            color: $dark;
          }
        }
        &__price {
          text-align: center;
          font-weight: 600;
          color: $dark;
        }
      }
    }
  }
}
//Header - End
//Hero - Start
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  width: 100%;

  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("../images/store.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &__title {
    color: $white;
    font-weight: 900;
    font-size: 48px;
  }
  &__description {
    color: $grey;
  }
}
//Hero - End
//Products - Start
.products {
  &__list {
    @include flex-row();
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    flex-wrap: wrap;

    &-item {
      width: 16rem;
      &__add-button {
        display: block;
      }
    }
  }
}
//Products - End
//FAQS - Start
/* FAQ Section Styles */
//FAQS - End
//Footer - Start
.footer {
  margin-top: auto;

  &__list {
    &-item {
      @include list-style();
    }
  }
}
//Footer - End
//ChatBot - Start
#chatbot {
  position: fixed;
  bottom: 20px;
  left: calc(100% - 20px);
  width: 200px;
  height: 300px;
  background-color: $accent;
  overflow-y: auto;
  padding: 5px 25px;
  transition: all 0.5s;
}
form#form_chatbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 100%;
  min-height: 100%;
}
form#form_chatbox input {
  align-self: flex-start;
  margin: 5px;
}
.show {
  left: calc(100% - 220px) !important;
}
//ChatBot - End
//ScrollTop - Start
.scroll-top {
  position: fixed;
  width: 50px;
  height: 50px;
  padding: 16px;
  bottom: 20px;
  right: 20px;
  background-color: $accent;
  border-radius: 8px;
  cursor: pointer;
  @include flex-row();
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;

  &.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  &:not(.active) {
    transform: translateY(100%);
  }

  svg {
    fill: $white;
    width: 30px;
  }
}
//ScrollTop - End
//Media - Start
@media only screen and (max-width: 539px) {
  .header {
    &__wrap {
      justify-content: center;
    }
    &__menu {
      @include flex-column();
      // @include flex-row();
      // flex-wrap: wrap;
      row-gap: 20px;
      justify-content: center;
    }
  }
  .products {
    &__list {
      row-gap: 10px;
      column-gap: 0;

      &-item {
        width: 80%;
      }
    }
  }
}
//Media - End
